.info-client {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.card-body.list-clients li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 2);
    height: 20px;
    text-align: left;
}
